body {
  background-color:aqua
}
.main_APP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
}
.card-small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
