body {
  background-color: aqua;
}
.main_APP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
}
.card-small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-collection{
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-direction: row;
  background-color: black;
}

.emoji{
  font-size: 50px;
}

@media (min-width: 100px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  * {
    font-size: 10px;
  }
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  * {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  * {
    font-size: 12px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  * {
    font-size: 12px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  * {
    font-size: 14px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  * {
    font-size: 16px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  * {
    font-size: 16px;
  }
}
